.baseContainer, .outContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.title{
  display: flex;
  align-items: center;
}
.title h1{
  margin-right: 30px;
}

.title a{
  font-size: 20px;
  text-decoration: none;
  color: black;

}





.outContainer{
  margin-top: 15px;
}

select{
  border-radius: 5px;
  font-size: 25px;
  width: 300px;
  height: 35px;


}

#amount,#outAmount{
  border-radius: 5px;
  height: 25px;
  padding: 3px;
  font-size: 25px;
  width: 300px;
}

#submit{
  display: block;
  margin: 15px auto;
  font-size: 20px;
  padding: 3px 10px;
  border-radius: 10px;
}

.country{
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.country input{
  margin-left: 20px;
}

.result{
  display: flex;
  justify-content: center;

}
